{% load static %}
<section id="bl-work-section">
    <!-- Portfolio Title Starts -->
    <div class="bl-box valign-wrapper">
        <div class="page-title center-align">
            <h2 class="center-align">
                <span data-hover="my">my </span>
                <span data-hover="projects">projects</span>
            </h2>
        </div>
    </div>
    <!-- Portfolio Title Ends -->
    <!-- Portfolio Expanded Starts -->
    <div class="bl-content">
        <!-- Main Heading Starts -->
        <div class="container page-title center-align">
            <h2 class="center-align">
                <span data-hover="my">my </span>
                <span data-hover="projects">projects</span>
            </h2>
        </div>
        <!-- Main Heading Ends -->
        <div class="container">
            <!-- Divider Starts -->
            <div class="divider center-align">
                <span class="outer-line"></span>
                <span class="fa fa-suitcase" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <div class="row center-align da-thumbs" id="bl-work-items">
                {% for project_panel in project_panels %}
                    <!-- Project Starts -->
                    <div class="col s12 m6 l6 xl4" data-panel="{{ project_panel.panel }}">
                        <a href="#">
                            {% if project_panel.project.image %}
                                <img class="responsive-img" src="{{ project_panel.project.image.url }}" alt="{{ project_panel.project.name }}" width="535" height="400"/>
                            {% else %}
                                <img class="responsive-img" src="http://via.placeholder.com/535x400" alt="{{ project_panel.project.name }}" width="535" height="400"/>
                            {% endif %}
                            <div class="valign-wrapper"><span class="font-weight-700 uppercase">{{ project_panel.project.name }}</span></div>
                        </a>
                    </div>
                    <!-- Project Ends -->
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Portfolio Expanded Ends -->
    <img alt="close" src="{% static 'images/close-button.png' %}" class="bl-icon-close" />
</section>